## Exercises

Write a program to print out:

```
*****                                                                  
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *  
```

It might be useful to know you can do

`'*' * 2 = '**'`

`'*' + ' ' = '* '`


`'\n'` makes a line break in python

In [95]:
for i in range(6):
    if i == 0:
        print(5 * "*")
    else:
        print("  *")

*****
  *
  *
  *
  *
  *

Write a program to print:
```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [96]:
for i in range(1, 10):
    print(i * str(i))

1
22
333
4444
55555
666666
7777777
88888888
999999999

## Datatypes: Dictionary

Dictionaries are a handy way to keep track of data in key-value pairs. 
`{key1: value1, key2: value2}`

Let's make a list of dictionaries:

In [98]:
data = [
    {'author': 'F. SCOTT FITZGERALD', 'text': 'Action is character'},
    {'author': 'RALPH WALDO EMERSON', 'text': 'Every man is my superior in some way. In that, I learn of him'},
    {'author': 'RALPH WALDO EMERSON', 'text': 'The purpose of life is not to be happy. It is to be useful, to be honorable, to be compassionate, to have it make some difference that you have lived and lived well'},
    {'author': 'Ralph Waldo Emerson', 'text': 'Every man alone is sincere.  At the entrance of a second persion, hypocrisy beings'},
    {'author': 'Majjha Nikaya', 'text': 'This is, because that is.  This is not, because that is not.  This is like this, because this is like that'}
]

We can select our first quote dictionary:

In [99]:
data[0]['text']

'Action is character'

We can iterate over the keys:

In [103]:
dict1 = data[0]
for key in dict1.keys():
    print(key)

author
text

And the same for the values:

In [104]:
for value in dict1.values():
    print(value)

F. SCOTT FITZGERALD
Action is character

And both at the same time:

In [105]:
for key, value in dict1.items():
    print(key, value)

author F. SCOTT FITZGERALD
text Action is character

We can then use the dictionaries to make a DataFrame (more on this in the pandas class :) )

In [107]:
import pandas as pd

In [108]:
pd.DataFrame(data)

                author                                               text
0  F. SCOTT FITZGERALD                                Action is character
1  RALPH WALDO EMERSON  Every man is my superior in some way. In that,...
2  RALPH WALDO EMERSON  The purpose of life is not to be happy. It is ...
3  Ralph Waldo Emerson  Every man alone is sincere.  At the entrance o...
4        Majjha Nikaya  This is, because that is.  This is not, becaus...

## Exercises:

Write a Python program to display the first and last colors from the following list.

color_list = ["Red","Green","White" ,"Black"]

Should display "Red Black"

In [109]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0] + " " + color_list[-1])

Red Black

Sum all the items in the following list:
x = [1, 2, 3, 7, 12]

(hint: no using built-in functions!)

In [113]:
x = [1, 2, 3, 7, 12]

total = 0
for i in x:
    total += i
    
print(total)
assert total == sum(x)

25

Get the maximum number from a list: y = [-10, 6, 8, 14]

(hint: no using built-in functions!)

In [115]:
y = [-10, 6, 8, 14]

for index, i in enumerate(y):
    if index == 0:
        highest = i
    else:
        if i > highest:
            highest = i

print(highest)
assert highest == max(y)

14

Check if a list is empty or not.

For list p = [ ], should print "True".

For list q = [1, 2, 3, 4] should print "False".

In [117]:
# should print the opposite
not bool([])

True

In [118]:
not bool([1, 3])

False

Add the {key: value} pair `{"Susan: 43}` to the dictionary `ages = {"Joe": 50, "Gretchen": 31}`

In [ ]:
ages = {"Joe": 50, "Gretchen": 31}

# first way 
ages["Susan"] = 43

# second way
ages.update({"Susan": 43})